body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(125, 235, 115);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: #fafafa;
  padding: 25px;
  border-bottom: 2px solid #007c29;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  list-style: none;
  display: inline;
  padding: 12px;
  font-size: 1.25rem;
}

li:hover{
  color: rgb(44, 150, 44);
  cursor: pointer;
}

header{
  margin-bottom: 35px;
}

.publicados{
  cursor: pointer;
  padding: 16px;
  border-radius: 5px;
  background-color: #fafafa;
  border: 2px solid #eaeaea;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.publicados:hover{
  color: rgb(50, 175, 61);
}